<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>  
</div>
<div>
  <a routerLink="/login">Login</a>
  <a routerLink="/signup">Signup</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/account">Account</a>
  <a routerLink="/pricing">Pricing</a>
  <a routerLink="/pricing/pricing-details">Pricing Details</a>
  
  <a [routerLink]="[{outlets:{bottom:['footer']}}]">Footer</a>
  <a [routerLink]="[{outlets:{bottom:['another-footer']}}]">Another Footer</a>
</div>
<router-outlet></router-outlet>
<router-outlet name="bottom"></router-outlet>
